@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    margin: 0;
    background: #292929;
    //font-family: 'Montserrat',sans-serif;
    font-family: sans-serif;
}
a { 
    color:white;
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
    color:white; 
}
a:hover { 
    text-decoration: none; 
    color:grey; 
}

p {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-head {
    text-align: center;
    padding-left: .9em;
}

.orange-container{
    text-align: center;
    width: 100%;
    background: #EE8572;
    padding: 4em 0 5em 7em;
    margin-bottom: 5em;
    transform: skewY(3deg);
}
.orange-container ul {
    transform: skewY(-3deg);
}
 .logo {
     width: 100px;
     padding-top: 10px;
 }

.hide-mobile{
    display: none;
}

 header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 75%;
    margin-right: 25%;
}

.wallpaper{
    width: 130%;
    padding-left: 0;
    padding-top: 12px;
}
.txtimage{
    position: relative;
}
.title{

    font-family: sans-serif;
    position: absolute;
    text-align: center;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    color: black;
    padding: 20% 20% 20% 20%;
    
}
.aplusbttn{
    padding-top: 9px;
    padding-bottom: 3px;
    background: #292929;
    height: 30px;
    width: 150px;
    margin-left: 4em;
    border-radius: 45px;
    font-weight: 700;
}


.pc-icon-container{
    background: white;
    width: 15em;
    margin-bottom: 5em;
    border-radius: 30px;
}
.report-icon-container{
    
    background: white;
    width: 15em;
    margin-bottom: 5em;
    border-radius: 30px;
}
.caution-icon-container{
    
    padding-top: 3em;
    background: white;
    width: 15em;
    margin-bottom: 5em;
    border-radius: 30px;
}

footer{
    text-align: center ;
    color: lavender;
}

.ccompte{
    transform: skewY(-3deg);
    margin-left: -50%;
    color: white

}
.ctabttn{
    padding-top: 9px;
    padding-bottom: 3px;
    background: #292929;
    height: 30px;
    width: 150px;
    margin-left: 18em;
    margin-top: 3em;
    border-radius: 45px;
    text-align: center;
    font-weight: 700;
    transform: skewY(-3deg);
    margin-left: 10%;
}